<!DOCTYPE html>

<html>

<head>
        <title>help</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
    {{>header}}
    <p>Need some help or queries? follow the about me page to contact me</p>
    <p>This website is created on solely purpose to learn JavaScript and NodeJs concepts </p>
    <p>Learnt the basics about this project on Udemy course by Andrew Mead</p>
    <p>I would totally recommend to check his course out :</p>
    <p><a href="https://www.udemy.com/course/the-complete-nodejs-developer-course-2/" target="_blank">Course Link</a></p>
    <p>Its just a demo website to clear the concepts how you can use third party APIS into use</p>
    <p>All source files for this website is available on my github you can follow it on About me page</p>
    </div>
    {{>footer}}
</body>

</html>